body
{
margin: 0px;
width: 100%;
background-color: #e3e3e3;
font-family: 'Oswald', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
   
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 1px 1px black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
   

}

header p{
    font-size: 22px;
    font-weight: bolder;
}

 header a{
    color:white;
    text-decoration: none;
 
 }

 header a:hover{
    color: rgb(17, 0, 255);
    text-decoration: none;
    font-size:22px;
  }

header div
{
    flex-grow: 1;
    margin-left: 50px;
}

header ul{
    list-style: none;
    display: flex;
    
    justify-content: space-between;
    margin-right: 50px;
   
}

.hero
{

    background-image: url("../img/hero.jpg");
    height:500px;
    margin: 50px 10px 0 10px;
    border-radius: 10px;
    color:white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 3px 3px black;
    text-align: center;
   
    
}

.section-1
{
    background-color:#e3e3e3;
    display: flex;
    height: 300px;
    margin-top: 50px;
    flex-grow: 1;
    width: 100%;
   
   
   
   
}

.section-1 div{
    display: flex;

    border-radius: 6px;
   flex-grow: 1;
   justify-content: space-between;
   background-color: white;
   margin-right: 10px;
   margin-left: 10px;
   
}

.section-2
{
   display: flex;
   margin-top: 50px;
   height: 400px;
   flex-grow: 1;
   
  width: 100%;
}

.section-2 div{
    border-radius: 6px;
    flex-grow: 1;
    background-color: white;
    justify-content: space-between;
    margin: 10px 10px 0px 10px;
    width: 49%;
    
    background: linear-gradient(40deg, rgb(159, 149, 168),rgb(188, 173, 255));
}


.section-2 div div
{
    
    height: 25%;
    width: 96%;
     box-shadow: 2px 2px 3px black;
     color: white;
 
   
}

footer
{
    display: flex;
    background:black;
    height: 150px;
    margin: 50px 0px 0px 0px;
    padding: 20px;
    justify-content: space-between;
    border-top: 1px solid black;
    color: white;
}
.first
{
    background-image: url("../img/29.jpg");
    width: 33%;
    color: rgb(14, 13, 13);
}

.second
{
    background-image: url("../img/83.jpg");
    width: 33%;
    color: white;
    
    
}
.third
{
    background-image: url("../img/49.jpg");
    width: 33%;
    color: rgb(5, 5, 5);
}

footer li{
    font-size: 18px;
    list-style: none;
}

footer li:nth-child(1)
{
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    color: #4285f4;
  
}
.section-2 .one
{
    background-image: url("../img/ser.jpeg");
    width: 48%;
}
.two div
{
    background:linear-gradient(100deg,red, blue);
 
     box-shadow: 2px 2px 3px black;
     color: white;
     margin:10px;
     width: 50%;
    
}

h3
{
    margin: 0px;
    text-align: center;
}

@media screen and (max-width:830px)
{

   
    header
    {
      flex-direction: column;
     height: 20%;
     font-size: 1rem;
     padding: 0%;
     margin-bottom: 50px;

    }
.hero{
    width: 96%;
    height: 60%;
    margin-top: 6rem;
}
    header p
    {
        font-size: 1rem;
    }
    .section-1
   {
       flex-direction: column;
       margin-bottom: 1rem;
       height: 25%;
   }
   .section-1 .first
   {
       width: 96%;
       margin-bottom: 3rem;
   }

   .second
   {
       width: 96%;
       margin-bottom: 3rem;
   }

   .section-1 .third
   {
       width: 96%;
       margin-bottom: 3rem;
       
   }

   .section-2
   {
       flex-direction: column;
       height: 40%;
       
   }
  .section-2 .one{
       width: 96%;
       
        
      
   }

   .section-2 .two{
    width: 96%;
    margin: 10px;
   
}

.section-2 .two div{
    width: 96%;
   
}
   


.section-2 .two h1
{
    width: 96%;
    font-size: 2rem;
} 

footer
{
    height: 20%;
}
}

@media screen and (max-width:386px)
{

    header
    {
      flex-direction: column;
     height: 20%;
     font-size: 0.5rem;
     padding: 0%;
     margin-bottom: 50px;

    }
.hero{
    width: 96%;
    height: 60%;
    margin-top: 3rem;
}
    header p
    {
        font-size: 0.5rem;
    }
    .section-1
   {
       flex-direction: column;
       margin-bottom: 1rem;
       height: 25%;
   }
   .section-1 .first
   {
       width: 96%;
       margin-bottom: 1.5rem;
   }

   .second
   {
       width: 96%;
       margin-bottom: 1.5rem;
   }

   .section-1 .third
   {
       width: 96%;
       margin-bottom: 1.5rem;
       
   }

   .section-2
   {
       flex-direction: column;
       height: 40%;
       
   }
  .section-2 .one{
       width: 96%;
       
        
      
   }

   .section-2 .two{
    width: 96%;
    margin: 10px;
   
}

.section-2 .two div{
    width: 96%;
   
}
   


.section-2 .two h1
{
    width: 96%;
    font-size: 1rem;
} 

footer
{
    flex-direction: column;
    height: 20%;
}

header ul
{
    flex-direction: column;
}
}